#root {
  max-width: 1780px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  padding: 0%;
  text-align: center;
}
.main{
  color: black;
}

.navbar{
  background-color:white;
  /* width: 100%; */
  width: 100%;
  height: 60px;
  display: flex;
 flex-direction: row;
  padding: 0%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
position: fixed;
  /* align-items: center; */
}
nav{
  flex: 1;
  /* text-align: right; */
}
.navLeft{
  text-align: left;
  float: left;
flex: 3;
 /* width:60%; */
 height: 60px;
  font-size: medium;
  background-color:white;
  cursor: pointer;
}
.navRight{
  /* text-align:right; */
  float: right;
margin-left: -40px;
height: 60px;
background-color:white;
}
.nav-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
}

li:not(:last-child) {
  margin-right: 10px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px ;
}
nav ul li:hover{
  color: #232f98;
}
.navbar img{
  height: 30px;
  margin: 20px;
}
.searchbox {
  background-color: rgb(238, 235, 235);
  border-radius: 30px;
  /* margin: 10px; */
  /* padding: 5px 10px; */
  height: 40px;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding-right: 90px;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
 
/*Vertival bar*/
.vertical-box {
  display: flex;
  flex-direction: column;
  width: 60px;
  padding-top: 20px;
  height: 700px;
  background-color:white;
  overflow: hidden;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  position: absolute;
  position: fixed;
  margin-top: 70px;
}


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  flex-direction: column;
  width: 10%;
  height: 50px;
  /* flex-grow: 1;  */

  
  /* border-bottom: 1px solid #ccc; */
}
.imageName{
  /* padding-top: -10px; */
  font-size: 10px;
  font-weight:400;
}

.icon-container img{
  height: 20px;
  margin: 20px;
}
.logout{
padding-top: 290px;
}

/*profile area */

.horizontal-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 45px;
  margin-left: 60px;
  padding-left: 50px;
  /* border-top: 1px solid #cc1515; */
  background-color:rgb(249, 236, 220);

}

.profile-icon {
  flex: 1;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ccc;
}

.name-email {
  flex: 1;
  text-align: left;
  padding: 20px;
  margin: 0px;

  /* margin: 0 10px; */
  color: black;
  background-color:rgb(249, 236, 220);
}

.name {
  margin-bottom: -10px;
  text-align: left;
  color: black;
  font-weight: bold;
}

.followers {
  background-color:rgb(249, 236, 220);
  padding-right: 30px;
  font-weight: bold;
  text-align: right;
}

/* Right-side*/
.vertical-box2 {
  display: flex;
  float: right;
  flex-direction: column;
  width: 220px;
  height: 550px;
  padding-left: 20px;
  background-color:white;
  /* height: 100vh; */
  /* background-color: aqua; */
}

.Container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color:white;
 
  /* border-radius: 5px; */
  text-align: center;
}
.Container img{
  height: 20px;
  margin: 20px;
}
.imgName{
  padding-left: 10px;
  font-size: 16px;
  font-weight:500;
}

/*About Me*/
.container-Abt {
  padding-top:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  /* padding-bottom: -30px; */
}

.left-flex {
 float: left;
 font-size: 20px;
 font-weight: 500;
 padding-left: 90px;
 margin-top: -10px;

}

.right-flex {
  float: right;
  font-size:300;
  padding-right: 90px;
}
.container-Abt2{
  background-color: white;
margin-left: 90px;
/* margin-right: 10px; */
/* padding: 20px; */
margin-top: -30px;
width: 73%;
height: 100px;
border-radius: 10px;
color: #908f8f;


}
.add{
  margin-left: -80%; 
  font-size: small;
  font-weight: 500;
  padding-top: 20px;
  
}
.thin-line {
  border: 0.9px solid rgb(10 17 32 / 10%); 
  width: 73%;
 margin-top: 30px;
  margin-left: 90px;

}
.cipher{
  margin-top: -20px;
  padding: 0px;
  
}
.cipherCont{
  float: left;
 font-size: 20px;
 font-weight: 500;
 padding-left: 90px;

 
}
/*Months */
.horizontal-boxM {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 90px;

  margin-left: 160px;

}

.month {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  height: 10px;
  padding-right: 60px;
  color: #ccc;
}

/* web */
.web{
  /* background-color: aqua; */
  margin: 0 260px 0 90px;
display: flex;
margin-top: -10px;
}

.web-left{
/* background-color: chartreuse; */
float: left;
width: 50%;
margin: 0 20px 0 20px;
flex-direction: column;
}
.social{
  /* background-color: #908f8f; */
  text-align: left;
width: 100%;
/* margin: 0 20px 0 20px; */
}
.social-area{
  background-color:white;
  /* padding: 8px; */
width: 100%;
height: 40px;
text-align: left;
border-radius: 10px;
color: #908f8f;
/* margin: 0 20px 0 20px; */
}
.social-area img{
  height: 25px;
  margin: 10px;
}
.web-right{
/* background-color: crimson; */
float: right;
width: 50%;
margin: 0 20px 0 20px;
height: 40px;
}
.right-flexProff{
  float: right;
  font-size:300;
  padding-right: 335px;
}
.grad{
  background-color:white;
  /* padding: 8px; */
width: 90%;
height: 30px;
text-align: left;
padding-top: 10px;
padding-left: 10px;
border-radius: 10px;

}
.social1{
  margin-top: -63px;
  text-align: left;
  width: 90%;
  margin-left: -43px;
}
.grad1{
  background-color:white;
margin-left: -43px;
width: 70%;
height: 30px;
text-align: left;
padding-top: 10px;
padding-left: 10px;
border-radius: 10px;
}
.password{
  background-color:white;
  /* margin-left: -43px; */
  width: 190%;
  height: 30px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;

  border-radius: 10px;
  font-size: large;
  font-weight: 800;
}
